# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Log files
*.log
bot.log

# Virtual environments
.venv/
venv/
ENV/
env/

# IDE / Editor settings
.vscode/
.idea/

# OS specific files
.DS_Store
Thumbs.db

# Dataset and Training Outputs (Ignored to avoid cluttering GitHub)
dataset/
source/
dataset_yolo/
runs/
drakensang_yolo/

# Base model files
yolov8n.pt

# PyTorch F drive cache (local)
temp/
pip_cache/
